<section class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Digite o nome do filme" aria-label="search"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
      </div>
    </div>
    <div>
      <h4 class="text-center mt-5">RANK</h4>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="/img/user.png" class="profile" alt="user">
        <p>John</p>
      </div>
      <div class="col xs-6 col-sm-8 col-lg-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia ipsa odio ab repellat vitae reiciendis
        veniam distinctio, eveniet veritatis deleniti delectus facere nam repudiandae corrupti illum praesentium,
        voluptatibus alias.
      </div>
      <div class="col">
        <p class="text-right">#1</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="/img/user.png" class="profile" alt="user">
        John
      </div>
      <div class="col xs-6 col-sm-8 col-lg-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia ipsa odio ab repellat vitae reiciendis
        veniam distinctio, eveniet veritatis deleniti delectus facere nam repudiandae corrupti illum praesentium,
        voluptatibus alias.
      </div>
      <div class="col">
        <p class="text-right">#2</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="/img/user.png" class="profile" alt="user">
        <p>John</p>
      </div>
      <div class="col xs-6 col-sm-8 col-lg-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia ipsa odio ab repellat vitae reiciendis
        veniam distinctio, eveniet veritatis deleniti delectus facere nam repudiandae corrupti illum praesentium,
        voluptatibus alias.
      </div>
      <div class="col">
        <p class="text-right">#3</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="/img/user.png" class="profile" alt="user">
        <p>John</p>
      </div>
      <div class="col xs-6 col-sm-8 col-lg-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia ipsa odio ab repellat vitae reiciendis
        veniam distinctio, eveniet veritatis deleniti delectus facere nam repudiandae corrupti illum praesentium,
        voluptatibus alias.
      </div>
      <div class="col">
        <p class="text-right">#4</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <img src="/img/user.png" class="profile" alt="user">
        <p>John</p>
      </div>
      <div class="col xs-6 col-sm-8 col-lg-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut mollitia ipsa odio ab repellat vitae reiciendis
        veniam distinctio, eveniet veritatis deleniti delectus facere nam repudiandae corrupti illum praesentium,
        voluptatibus alias.
      </div>
      <div class="col">
        <p class="text-right">#5</p>
      </div>
    </div>
  </section>