/* .bg-transparent {
  background-color: rgba(255,255,255,0.7) !important;
}  */

body {
  padding-top: 74px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);

}

.profile {
  height: 50px;
}

.profile-page {
  height: 150px;
}

.star {
  height: 27px;
}

.logo {
  font-family: 'Mansalva', cursive;
}

.carousel-item {
  height: 540px;
}

.esp-b {
  margin-left: 4px;
}

.alt {
  height: 1200px;
}


