<h1>Ranks:</h1>
{{!-- <div id="results">
    {{#each data}}
        <div id="results__card">
            <img src={{this.imagelink}}>
            <h2>Name: {{this.name}}</h2>
            <p>Description: {{this.description}}</p>
            <h4>Rank: `${{{@index}}+1}`</h4>
        </div>
    {{/each}}
</div> --}}
