<div class="container">
  <div class="row">
    <div class="col-2">
      <p>Nome:</p>
    </div>
    <div class="col-6">
      <p>Descricão</p>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <p>Gostou?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>Avatar:</p>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam facilis, eius rem iure, consequuntur unde assumenda non deserunt dolorum in ipsum facere labore veniam repellendus laborum vel nulla aperiam dolorem!</p>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a href="#" class="btn btn-success">Gostei</a>
      <a href="#" class="btn btn-danger esp-b">Não Gostei</a>
    </div>
  </div>
</div>