<div class="container box-shadow py-4 px-4 mt-4 mb-4 alt">
  <div class="row mt-4">
    <div class="col-2">
      <p>Nome:</p>
    </div>
    <div class="col-6">
      <p>Descricão</p>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <p>Gostou?</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-2">
      <h4>{{data.name}}</h4>
    </div>
    <div class="col-6">
      <h4>{{data.text}}</h4>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      {{#if data.liked}}
      <p href="#" class="btn btn-success">Gostei</p>
      {{else}}
      <a href="#" class="btn btn-danger esp-b">Não Gostei</a>
      {{/if}}
    </div>
  </div>
</div>