<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4 mb-4">
      <div class="form-group">
        <h5>DESCRIÇÃO:</h5>
        <label for="descricaoTextArea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem alias
          earum ex accusamus facere! Delectus id quis
          minima dolor aliquid velit commodi vero. Ipsa dolor, fuga nam iusto tenetur autem?a</label>
        <textarea class="form-control" id="descricaoTextArea" rows="6"></textarea>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="form-group">
        <h5>GENERO:</h5>
        <label for="descricaoTextArea">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem alias
          earum ex accusamus facere! Delectus id quis
          minima dolor aliquid velit commodi vero. Ipsa dolor, fuga nam iusto tenetur autem?a</label>
        <select class="form-control mb-2">
          <option>Ação</option>
          <option>Animação</option>
          <option>Aventura</option>
          <option>Comédia</option>
          <option>Aventura</option>
          <option>Ficção cientifica</option>
          <option>Romance</option>
          <option>Suspense</option>
          <option>Terror</option>
          <option>Drama</option>
        </select>
        <select class="form-control mb-2">
          <option>Ação</option>
          <option>Animação</option>
          <option>Aventura</option>
          <option>Comédia</option>
          <option>Aventura</option>
          <option>Ficção cientifica</option>
          <option>Romance</option>
          <option>Suspense</option>
          <option>Terror</option>
          <option>Drama</option>
        </select>
        <select class="form-control mb-2">
          <option>Ação</option>
          <option>Animação</option>
          <option>Aventura</option>
          <option>Comédia</option>
          <option>Aventura</option>
          <option>Ficção cientifica</option>
          <option>Romance</option>
          <option>Suspense</option>
          <option>Terror</option>
          <option>Drama</option>
        </select>
        <a href="#" class="btn btn-outline-primary mt-2">Enviar</a>
    </div>
  </div>
</div>
</div>

{{!-- <select class="form-control">
        <option>Ação</option>
        <option>Animação</option>
        <option>Aventura</option>
        <option>Comédia</option>
        <option>Aventura</option>
        <option>Ficção cientifica</option>
        <option>Romance</option>
        <option>Suspense</option>
        <option>Terror</option>
        <option>Drama</option>
      </select> --}}
{{!-- <a href="#" class="btn btn-outline-success btn-block mt-3">Gostei</a>
      <a href="#" class="btn btn-outline-danger btn-block mt-2">Não Gostei</a> --}}